#pixel-art {
    min-height: 100vh;
}

#pixel-art p {
    width: fit-content;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
}

#pixel-art .collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(95%, 1200px);
    margin-right: auto;
    margin-left: auto;
}

#pixel-art .collection .piece {
    width: min(200px, 100%);
    flex: 1 1 auto;
    height: 200px;
    background: var(--primary-color);
    border-radius: 0.5rem;
    padding: 5px;
    margin: 5px;
}

#pixel-art .collection .piece img {
    min-width: none;
    min-height: none;
    max-width: calc(200px - 1rem);
    max-height: calc(200px - 1rem);
    border-radius: 0.2rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 500px) {
    #pixel-art .collection .piece {
        width: 125px;
        height: 125px;
    }

    #pixel-art .collection .piece img {
        max-width: calc(125px - 0.5rem);
        max-height: calc(125px - 0.5rem);
    }
}