*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #1e1e1e;
    color: #eee;
    font-family: system-ui;
}

a
{
    color: #eee;
    text-decoration: none;
    font-size: 36px;
}

.main-container
{
    background: #3e3e42;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 80vw;
    border-radius: 30px;
    padding: 20px;
}

.main-container .banner
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
}

.main-container .title
{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
    color: #eee;
}

.main-container .content
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    width: 100%;
}

.content .image
{
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

p
{
    margin-top: 10px;
    font-size: 18px;
}

.content .showcase
{
    font-size: 18px;
    color: #007acc;
    text-transform: capitalize;
    font-weight: bold;
}

.date
{
    color: #eeeeee75;
    margin: 10px;
    font-size: 12px;
}