* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #007ACC;  /* Royal Blue (Buttons, Links, Highlights) */
    --secondary-color: #2A2E35; /* Dark Grayish Blue (Backgrounds) */
    --contrast-color: #F8F9FA; /* Off-White (Text, High Readability) */
    --highlight-color: #FF6B6B; /* Coral Red (Accents, Hover Effects) */
    --divider-color: #3A3F47;
}

body {
    background: var(--secondary-color);
    color: var(--contrast-color);
    font-family: 'Poppins', sans-serif, system-ui;
    user-select: none;
}

.main-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 1rem;
    padding: 20px;
}

.main-container .banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 725px;
    border-radius: 10px;
}

.main-container .title {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
    line-height: 1.5;
    color: var(--contrast-color);
}

.main-container .content {
    display: block;
    margin: 0 auto;
    width: 550px;
}

.main-container .content p {
    font-size: 16px;
    line-height: 1.5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.main-container .content img {
    display: block;
    min-width: 250px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.main-container p {
    margin-top: 10px;
    font-size: 18px;
}

.main-container h2 {
    margin-top: 20px;
    font-size: 24px;
}

.main-container h3 {
    margin-top: 10px;
    font-size: 20px;
}

.main-container .content a {
    font-size: 18px;
    color: var(--primary-color);
    text-transform: capitalize;
    font-weight: bold;
}

.main-container .date {
    color: #eeeeee75;
    margin: 10px;
    font-size: 12px;
}

.main-container ul {
    margin-left: 20px;
}

@media screen and (max-width:950px) {
    .main-container .banner {
        width: 100%;
    }
}

@media screen and (max-width:725px) {
    .main-container .content {
        width: 100%;
    }
}