*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #1e1e1e;
    color: #eee;
    font-family: system-ui;
}

.main-container
{
    background: #3e3e42;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 80vw;
    border-radius: 1rem;
    padding: 20px;
}

.main-container .banner
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 725px;
    border-radius: 10px;
}

.main-container .title
{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
    color: #eee;
}

.main-container .content
{
    display: block;
    margin: 0 auto;
    width: 550px;
}

.main-container .content p
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    width: 100%;
}

.main-container .content img
{
    display: block;
    min-width: 250px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.main-container p
{
    margin-top: 10px;
    font-size: 18px;
}

.main-container h2
{
    margin-top: 20px;
    font-size: 24px;
}

.main-container h3
{
    margin-top: 10px;
    font-size: 20px;
}

.main-container .content a
{
    font-size: 18px;
    color: #007acc;
    text-transform: capitalize;
    font-weight: bold;
}

.main-container .date
{
    color: #eeeeee75;
    margin: 10px;
    font-size: 12px;
}

@media screen and (max-width:950px)
{
    .main-container .banner
    {
        width: 100%;
    }
}

@media screen and (max-width:725px)
{
    .main-container .content
    {
        width: 100%;
    }
}