.main-container .content .code
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: #2d2d30;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    font-size: 12px;
    line-break:strict;
}

.main-container .content .code pre
{
    overflow: auto;
    color: #67cdfe;
}

.comment
{
    color: #5e9949;
}

.reserve-1
{
    color: #3e9cd6;
}

.reserve-2
{
    color: #c586c0;;
}

.operation
{
    color: #eee;
}

.braces
{
    color: #ffd710;
}

.function
{
    color: #dcdcaa;
}

.from-class
{
    color: #32bcb0;
}

.numbers
{
    color: #b5cea8;
}