#contact
{
    max-height: fit-content;
}

#contact .social
{
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

#contact .social img
{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 1s;
}

#contact .social img:hover
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 1s;
}

#contact .guide
{
    text-align: center;
    font-size: 12px;
}

#contact .mail
{
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}