nav
{
    position: sticky;
    top: 0px;
    z-index: 1;
    background: #1e1e1e;
    height: 82px;
    transition: 0.5s;
}

nav ul
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 10px;
}

nav ul li
{
    background: #1e1e1e;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 10px;
    transition: 0.5s;
    filter: drop-shadow(2px 2px 1px #3e3e42);
}


nav ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 36px;
}

nav ul #bars
{
    position: absolute;
    top: 10px;
    left: 100%;
    transform: translate(-100%, 0);
    display: none;
    margin-left: auto;
    font-size: 36px;
}

@media screen and (max-width: 800px)
{
    nav ul
    {
        flex-direction: column;
    }

    nav ul .nav-links
    {
        display: none;
        margin-top: 50px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.5s;
    }

    nav ul #bars
    {
        display: block;
        filter: none;
    }

    nav ul li:active
    {
        background: #007acc;
        transition: 0.5s;
    }
}

@media  screen and (min-width: 800px)
{
    nav ul li:hover
    {
        background: #007acc;
        transition: 0.5s;
        filter: drop-shadow(6px 6px 3px #3e3e42);
    }
}