#projects
{
    min-height: 100vh;
}

#projects em
{
    color: #3e3e42;
}

#projects .collection
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#projects .internal-container
{
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    margin: 5px;
    background: #007acc;
    padding: 10px;
    border-radius: 0.5rem;
    width: fit-content;
}

#projects .internal-container img
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    border-radius: 0.2rem;
}

#projects .internal-container .online-presence
{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#projects .internal-container .online-presence img
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 5px;
}

#projects .internal-container .data
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 425px;
    height: 100%;
}

#projects .internal-container .data h4
{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

#projects .internal-container .data p
{
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
}

@media screen and (max-width: 500px)
{
    #projects .collection .internal-container .data
    {
        width: 300px;
    }
}