#projects
{
    min-height: 100vh;
}

#projects .internal-container
{
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    margin: 10px 5px;
    background: #007acc;
    padding: 10px;
    border-radius: 15px;
}

#projects .internal-container img
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    border-radius: 5px;
}

#projects .internal-container .online-presence
{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#projects .internal-container .online-presence img
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#projects .internal-container .data
{
    margin-left: 10px;
}

#projects .internal-container .data h4
{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

#projects .internal-container .data p
{
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
}