*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background: #f2c42d;
    color: #fff;
    /*background: #222;*/
}

nav
{
    position: sticky;
    top: 20px;
    z-index: 1;
}

nav ul
{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #000;
    background: rgba(51, 51, 51, 0.5);
}

nav ul li
{
    display: inline-block;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid #000;
    background: rgba(51, 51, 51, 0.5);
}

nav ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 32px;
}

#home
{
    height: 100vh;
    z-index: 0;
}

#home h1
{
    margin-bottom: 32px;
}

#home p
{
    margin-bottom: 16px;
}

#home .internal-container
{
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

#projects
{
    display: block;
    min-width: 300px;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    min-height: 100vh;
    max-height: fit-content;
    border: 2px solid #000;
    border-radius: 25px;
}

#projects .internal-container
{
    display: flex;
    justify-items: flex-end;
    margin: 30px;
    background: rgba(51, 51, 51, 0.5);
    padding: 10px;
    border-radius: 30px;
}

#projects .internal-container img
{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}