*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background: #1e1e1e;
    color: #eee;
}

#projects em
{
    color: #3e3e42;
}

em
{
    color: #007acc;
    font-style: normal;
    font-weight: bolder;
}

nav
{
    position: sticky;
    top: 0px;
    z-index: 1;
    background: #2d2d30;
}

nav ul
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 10px;
    backdrop-filter: blur(5px);
}

nav ul li
{
    display: inline-block;
    padding: 5px 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transition: 0.5s;
}

nav ul li:hover
{
    /*background: rgba(20, 20, 20, 0.1);*/
    background: #007acc;
    transition: 0.5s;
}

a
{
    color: #fff;
    text-decoration: none;
    font-size: 36px;
}

#home
{
    height: 100vh;
    z-index: 0;
}

#home h1
{
    margin-bottom: 32px;
}

#home p
{
    margin-bottom: 16px;
}

#home .internal-container
{
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

#projects
{
    background: #3e3e42;
    display: block;
    min-width: 300px;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    min-height: 100vh;
    max-height: fit-content;
    border-radius: 25px;
    padding: 10px;
}

#projects h2
{
    font-size: 36px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#projects .internal-container
{
    display: flex;
    justify-items: flex-end;
    margin: 30px;
    background: #007acc;
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 25px;
}

#projects .internal-container img
{
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

#projects .internal-container .online-presence img
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#projects .internal-container .data
{
    margin-left: 20px;
}

.data h4
{
    font-size: 18px;
    font-weight: bold;
}

.data p
{
    font-size: 18px;
    font-weight: normal;
}

#contact
{
    background: #3e3e42;
    display: block;
    min-width: 300px;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: fit-content;
    max-height: fit-content;
    border-radius: 25px;
    padding: 10px;
}

#contact .contact
{
    font-size: 36px;
    text-align: center;
}

#contact .social
{
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

#contact .social img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 1s;
}

#contact .social img:hover
{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    transition: 1s;
}

#contact p
{
    text-align: center;
    font-size: 18px;
}

#contact .mail
{
    font-size: 36px;
    margin-top: 25px;
    margin-bottom: 25px;
}