*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background: #1e1e1e;
    color: #eee;
    font-family: system-ui;
}

#projects em
{
    color: #3e3e42;
}

em
{
    color: #007acc;
    font-style: normal;
    font-weight: bolder;
}

a
{
    color: #fff;
    text-decoration: none;
    font-size: 36px;
}

#home
{
    height: 100vh;
    z-index: 0;
}

#home h1
{
    margin-bottom: 32px;
}

#home p
{
    margin-bottom: 16px;
}

#home .internal-container
{
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

#projects
{
    background: #3e3e42;
    display: block;
    min-width: 300px;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    min-height: 100vh;
    max-height: fit-content;
    border-radius: 20px;
    padding: 5px;
}

.title
{
    font-size: 36px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#projects .internal-container
{
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    margin: 10px 5px;
    background: #007acc;
    padding: 10px;
    border-radius: 15px;
}

#projects .internal-container img
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    border-radius: 5px;
}

#projects .internal-container .online-presence
{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#projects .internal-container .online-presence img
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#projects .internal-container .data
{
    margin-left: 10px;
}

.data h4
{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.data p
{
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
}


#blogs
{
    display: block;
    min-height: 100vh;
    max-height: fit-content;
    min-width: 300px;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background: #3e3e42;
    border-radius: 20px;
    padding: 5px;
}

#blogs .internal-container
{
    margin: 10px 5px;
    background: #007acc;
    padding: 10px;
    border-radius: 15px;
}

#blogs .internal-container .Banner
{
    width: 100%;
    border-radius: 5px;
}

#blogs .internal-container .blog-title
{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

#blogs .internal-container a
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: fit-content;
    background: #eee;
    color: #007acc;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 10px;
}

#contact
{
    background: #3e3e42;
    display: block;
    min-width: 300px;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: fit-content;
    max-height: fit-content;
    border-radius: 25px;
    padding: 10px;
}

#contact .social
{
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

#contact .social img
{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 1s;
}

#contact .social img:hover
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 1s;
}

#contact .guide
{
    text-align: center;
    font-size: 12px;
}

#contact .mail
{
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}